<!DOCTYPE html>
<html ng-app="AdminApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/Admin/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/holder")
</head>
<body>
	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
