<!DOCTYPE html>
<html ng-app="VisageApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/Front/css")
	<!-- flex slider css -->
	<link href="~/Content/Front/theme/flexslider.css" rel="stylesheet" />
	<!-- animated css  -->
	<link href="~/Content/Front/theme/animate.css" rel="stylesheet" />
	<!--web fonts-->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<!--owl carousel css-->
	<link href="~/Content/Front/theme/owl.carousel.css" rel="stylesheet" />
	<link href="~/Content/Front/theme/owl.theme.css" rel="stylesheet" />
	<!--mega menu -->
	<link href="~/Content/Front/theme/yamm.css" rel="stylesheet" />
	<!--popups css-->
	<link href="~/Content/Front/theme/magnific-popup.css" rel="stylesheet" />
	<link href="~/Content/Front/theme/style.css" rel="stylesheet" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/holder")
	<script type="text/javascript"
		   src="@ViewBag.Gmaps">
	</script>
</head>
<body>

	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/Plugins")
	@RenderSection("scripts", required: false)
</body>
</html>
