<!DOCTYPE html>
<html ng-app="VisageApp">
<head>
	<base href="/">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	<link rel="icon" type="img/ico" href="~/Content/Images/Zoom.ico" />
	<!--web fonts-->
	<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	@Styles.Render("~/bundles/Theme")
	@Styles.Render("~/Content/Front/css")
	<link href="~/Content/Front/ThirdParty/YouTubeMenu/component.css" rel="stylesheet" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/holder")
	<script>
		(function (a, b, c, d, e) {
			var f = a + "Q"; b[a] = b[a] || {}; b[a][d] = b[a][d] || function () {
				(b[f] = b[f] || []).push(arguments)
			}; a = c.getElementsByTagName(e)[0]; c = c.createElement(e); c.async = 1;
			c.src = "//static.reembed.com/data/scripts/g_4058_54e577dd0ace962f4d41be73b154c199.js";
			a.parentNode.insertBefore(c, a)
		})("reEmbed", window, document, "setupPlaylist", "script");
	</script>
	<script type="text/javascript"
		   src="@ViewBag.Gmaps">
	</script>
</head>
<body>
	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/Plugins")
	@RenderSection("scripts", required: false)

</body>
</html>
