<!DOCTYPE html>
<html ng-app="VisageApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/Front/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/holder")
	<script type="text/javascript"
		   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-p0ctYmBtf-GGhIqWrX6vc9iRRmL0yvw">
	</script>
</head>
<body>

	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
